{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<section class="row article">
		<article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
			<h2>{{ article.title }}</h2>
			{# Symfony accède à la propriété title de l'objet article via son getter #}
			<div class="metadata">Ecrit le {{ article.createdAt|date('d/m/Y à H:i:s') }} dans la catégorie Politique</div>
			{# date() est un filtre twig : il permet de convertir/formater un objet DateTime en une chaîne de caractères #}
			<div class="content">
				<img src="{{ article.image }}" alt="">
				{{ article.content|raw }}
		</article>
		<article></section>
	{% endblock %}
